.c-footer {
    background-color: is(footer, background);
    @include font-size(12pt);
    font-family: $ej-font-stack;
    color: is(footer, text);
    padding-bottom: $d-spc;
}
.c-footer-row {

}
.c-footer__column {
  margin-top: $d-spc;
}
.c-footer__column-heading {
  @include font-size(13pt);
  font-weight: bold;
  margin-bottom: $h-spc;
  margin-left: $spc;
}
.c-footer__links {
  list-style-type: none;
}
.c-footer__links a {
  color: inherit;
  line-height: $spc;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline-color: is(footer, link);
  }
}

