.c-navigation {
  margin-left: $spc;
  float: left;
  color: is(header, text);

  nav {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 143px);
    overflow: hidden;
  }
  
  ul {
    margin: 0;
  }

  ul[role=menubar] {
    font-size: 0;  
    
    @include mq($until: desktop) {
      display: none;
    }

    li {
      float: left;
      display: block;
      @include font-size(12pt);

      &:first-child a {
        padding-left: 0;
      }

      .o-list {
        @include mq($from: desktop) {
          display: none;
          position: absolute;
          left: 0;
          top: calc(#{$head-height} - 1);
          width: 100%;
          height: 400px;
          background-color: is(megamenu, background);
        }
      }

      &:hover .o-list {
        display: block;
        z-index: 9999;
      }

      a {
        display: inline-block;
        padding: 15px 5px;
        color: is(header, text);
        text-decoration: none;
        text-transform: capitalize;
        
        &:hover {
          background-color: #000;
          text-decoration: underlined;
        }
      }
    }
  }
}