{{#with c-logo.a}}
<a{{> utils-attr attr=(extend-attr @root.common.c-logo.a.attr attr)}}>
  {{#with img}}
  <img{{> utils-attr attr=(extend-attr @root.common.c-logo.a.img.attr attr)}}>
  {{/with}}
</a>
{{/with}}